

.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.auth-inner {
  width: 450px;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #00000033;
}

.auth-inner form {
  width: 100%;
}

.auth-inner h3 {
  text-align: center;
  margin-bottom: 20px;
}

.auth-inner .form-control {
  margin-bottom: 10px;
}

.auth-inner .btn {
  font-size: 18px;
  padding: 7px 20px;
}

.auth-inner .forgot-password {
  margin-top: 10px;
}
